<div *ngIf="product.title" class="card">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{ product.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'USD':'symbol' }}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-secondary btn-block">Add to Cart</button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
    </ng-template>
  </div>
</div>
  <!-- until we get this product from Firebase and render its image here; during that time imageUrl property is null so we'll get an error 404 at first before rendering the image; to fix this issue we're going to apply an ngIf directive here and we want to render this image only if our product has an imageUrl -->
  <!-- also we want to render the card only if it has a title, otherwise it'll show as an empty box at first until we enter something in any of the fields -->

  <!--  style="width: 80%; margin: 0 auto;" -->